<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:wicket>
<body>
<wicket:panel>
    <li>
        <h2>Sort by</h2>
        <ul>
            <li>Standard
                <span><br/>
                    
                    <a href="#" wicket:id="elDifficultyBand">[DifficultyBand]</a><br/>
                    <a href="#" wicket:id="elDifficultyGuitar">[DifficultyGuitar]</a><br/>
                    <a href="#" wicket:id="elDifficultyBass">[DifficultyBass]</a><br/>
                    <a href="#" wicket:id="elDifficultyDrums">[DifficultyDrums]</a><br/>
                    <a href="#" wicket:id="elDifficultyVocals">[DifficultyVocals]</a><br/>
                    <a href="#" wicket:id="elSong">[Song]</a><br/>
                    <a href="#" wicket:id="elBand">[Band]</a><br/>
                    <a href="#" wicket:id="elGenre">[Genre]</a><br/>
                    <a href="#" wicket:id="elDecade">[Decade]</a><br/>
                    <a href="#" wicket:id="elLocation">[Location]</a>
                </span>
            </li>
            <li>Advanced
                <span><br/>
                <a href="#" wicket:id="elDuration">[Duration]</a><br/>
                <a href="#" wicket:id="elRBReleaseDate">[RBReleaseDate]</a>
                </span>
            </li>
        </ul>
    </li>
    <li>
        <h2>Filter by</h2>
        <ul>
            <li>Generic filters
                <span><br/>
                    <a href="#" wicket:id="elBigRockEnding">[BigRockEnding]</a><br/>
                    <a href="#" wicket:id="elCover">[Cover]</a>
                </span>
            </li>
            <li>Instrument specific sort
                <span><br/>
                    <a href="#" wicket:id="elNotes">[Notes]</a><br/>
                    <a href="#" wicket:id="elMaxScore">[MaxScore]</a>
                </span>
            </li>
            <li>Instrument specific filters
                <span><br/>
                    <a href="#" wicket:id="elGlitched">[Glitched]</a><br/>
                    <a href="#" wicket:id="elSolos">[Solos]</a><br/>
                    <a href="#" wicket:id="elNormalOptimal">[NormalOptimal]</a><br/>
                    <a href="#" wicket:id="elBreakneckOptimal">[BreakneckOptimal]</a><br/>
                    <a href="#" wicket:id="elGoldImpossible">[GoldImpossible]</a>
                </span>
            </li>
        </ul>
    </li>
    <!--
      Standard Sort - Difficulty(<a href="#" wicket:id="elDifficultyGuitar">[DifficultyGuitar]</a>,
      <a href="#" wicket:id="elDifficultyBass">[DifficultyBass]</a>,
      <a href="#" wicket:id="elDifficultyDrums">[DifficultyDrums]</a>,
      <a href="#" wicket:id="elDifficultyVocals">[DifficultyVocals]</a>,
      <a href="#" wicket:id="elDifficultyBand">[DifficultyBand]</a>) |
      <a href="#" wicket:id="elSong">[Song]</a> |
      <a href="#" wicket:id="elBand">[Band]</a> |
      <a href="#" wicket:id="elGenre">[Genre]</a> |
      <a href="#" wicket:id="elDecade">[Decade]</a> |
      <a href="#" wicket:id="elLocation">[Location]</a>
      <br/>
      Advanced sort -
      <a href="#" wicket:id="elDuration">[Duration]</a> |
      <a href="#" wicket:id="elRBReleaseDate">[RBReleaseDate]</a>
      <br/>
      Generic filters -
      <a href="#" wicket:id="elBigRockEnding">[BigRockEnding]</a> |
      <a href="#" wicket:id="elCover">[Cover]</a>
      <br/>
      Instrument specific sort -
      <a href="#" wicket:id="elNotes">[Notes]</a> |
      <a href="#" wicket:id="elMaxScore">[MaxScore]</a>
      <br/>
      Instrument specific filters -
      <a href="#" wicket:id="elGlitched">[Glitched]</a> |
      <a href="#" wicket:id="elSolos">[Solos]</a> |
      <a href="#" wicket:id="elNormalOptimal">[NormalOptimal]</a> |
      <a href="#" wicket:id="elBreakneckOptimal">[BreakneckOptimal]</a> |
      <a href="#" wicket:id="elGoldImpossible">[GoldImpossible]</a>
    -->
</wicket:panel>
</body>
</html>
