<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:wicket>
<body>
<wicket:panel>
    <table id="box-table-a" cellspacing="0">
        <thead>
        <tr>
            <th><span wicket:id="lblTableDescription"></span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr wicket:id="rptvSongs">
            <td wicket:id="tdItem" class="item"><span wicket:id="lblCategory"></span><a href="#" wicket:id="elMidiName">[midiName]</a></td>
            <td wicket:id="tdItemData" class="item"><span wicket:id="lblItemData"></span></td>
        </tr>
        </tbody>
    </table>
</wicket:panel>
</body>
</html>
