<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<wicket:panel>

    <ul>
        <li class="current_page_item"><a href="/">Home</a></li>
        <li><a href="/career">Career manager</a></li>
        <li><a href="/browse">Browse songs</a></li>
        <li><a href="/upload">Add a song</a></li>
        <li><a href="/stats">Interesting stats</a></li>
    </ul>

</wicket:panel>
</body>
</html>